<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
  <div class="container d-flex flex-wrap justify-content-between align-items-center pt-3 my-4 border-top">
    <ul class="nav col-md-2 justify-content-start">
      <li class="nav-item"><a href="https://stratospheric.dev" class="nav-link px-2 text-muted">&copy; Stratospheric</a></li>
    </ul>

    <p class="col-md-8 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-muted">
      Java: [[${@environment.getProperty('java.version')}]] - Spring Boot: [[${T(org.springframework.boot.SpringBootVersion).getVersion}]] -
      [[${@gitProperties.getBranch()}]] -&nbsp;<a class="text-muted" th:href="@{https://github.com/stratospheric-dev/stratospheric/commit/{id}(id=${@gitProperties.getCommitId()})}">[[${@gitProperties.getShortCommitId()}]]</a> &nbsp;-
      [[${@gitProperties.getCommitTime().toString()}]]
    </p>

    <ul class="nav col-md-2 justify-content-end">
      <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
  </div>
</footer>
</html>
