<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:remove="tag" th:fragment="confirmDeletionModal">
  <div class="modal fade"
       id="confirm-delete"
       tabindex="-1"
       role="dialog"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this todo?</p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-danger" id="confirm-deletion">Yes, delete.</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel.</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
      $(this).find('#confirm-deletion').attr('href', $(e.relatedTarget).data('href'));
    });
  </script>
</div>
</html>
