.DS_Store
.project
.settings/
.idea
target
*.iml

.serverless

venv

revision.json

update_error

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/gradle/
/gradlew
/gradlew.bat

**/cdk.out/
**/node_modules/

# Custom CDK context files
cdk-rieckpil.json
