<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>

  <title>Dashboard</title>

  <link href="/favicon.ico" rel="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" rel="stylesheet"
        type="text/css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
          integrity="sha256-SyTu6CwrfOhaznYZPoolVw2rxoY7lKYKQvqbtqN93HI=" crossorigin="anonymous"></script>
</head>
<body>
<div>
  <div class="container">
    <h1 style="text-align: center; margin-top: 10px" th:text="'Welcome to ' + ${message} + '&#127811;'"></h1>
    <h3>Simple S3 File Viewer </h3>
    <p>These are the available files inside your S3 Bucket: <strong>[[${bucketName}]]</strong></p>
    <table class="table">
      <thead>
      <tr>
        <th scope="col"><i class="fas fa-file"></i></th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Last modified</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tr th:each="file, iteration : ${availableFiles}">
        <td scope="row">[[${iteration.count}]]</td>
        <td>[[${file.key}]]</td>
        <td>[[${file.size}]] Bytes</td>
        <td>[[${#dates.format(file.lastModified, 'd. MMM. yyyy HH:mm:ss Z')}]]</td>
        <td>
          <a download target="_blank" th:href="${bucketLocation} + '/' + ${file.key}">
            <i class="fas fa-download"></i> Download
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
