<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="de.siegmar.logbackawslogsjsonencoder.AwsJsonLogEncoder"/>
  </appender>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="aws">
    <root level="INFO">
      <appender-ref ref="JSON"/>
    </root>
    <logger name="org.springframework.messaging.simp.stomp.StompBrokerRelayMessageHandler" level="INFO"/>
    <logger name="org.springframework.web.SimpLogging" level="INFO"/>
    <logger name="org.springframework.web.socket.config.WebSocketMessageBrokerStats" level="WARN"/>
  </springProfile>
</configuration>
