<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="de.siegmar.logbackawslogsjsonencoder.AwsJsonLogEncoder"/>
    </appender>

    <appender name="PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%-30t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="PLAIN"/>
        </root>
    </springProfile>

    <springProfile name="aws">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
      <logger name="org.springframework.messaging.simp.stomp.StompBrokerRelayMessageHandler" level="INFO"/>
      <logger name="org.springframework.web.SimpLogging" level="INFO"/>
      <logger name="org.springframework.web.socket.config.WebSocketMessageBrokerStats" level="WARN"/>
    </springProfile>
</configuration>
