<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="activeMenuItem='dashboard', headline='Your Todos'">
<head>
  <title>Dashboard</title>
</head>
<section class="section" layout:fragment="page-content">
  <div class="container" sec:authorize="isAuthenticated()">
    <table class="table" th:if="${todos}">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Collaborators</th>
        <th scope="col">Pending Collaborations</th>
        <th scope="col">Due Date</th>
        <th scope="col">Actions</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="todo : ${todos}">
        <td>
          <a th:href="@{/todo/show/{id}(id=${todo.id})}">[[${todo.id}]]</a>
        </td>
        <td>
          <a th:href="@{/todo/show/{id}(id=${todo.id})}">[[${todo.title}]]</a>
          <span th:if="${todo.isCollaboration}"> (shared)</span>
        </td>
        <td class="text-center" th:text="${todo.amountOfCollaborators}"></td>
        <td class="text-center" th:text="${todo.amountOfCollaborationRequests}"></td>
        <td>
          [[${todo.dueDate}]]
          <i class="far fa-bell"></i>
        </td>
        <td>
          <a class="btn btn-primary" title="Show" role="button" th:href="@{/todo/show/{id}(id=${todo.id})}">
            <i class="far fa-eye"></i>
          </a>
          <a class="btn btn-success" title="Edit" role="button" th:href="@{/todo/edit/{id}(id=${todo.id})}">
            <i class="fas fa-edit"></i>
          </a>
          <div class="dropdown d-inline-block" th:unless="${todo.isCollaboration}">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-share"></i>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <span class="dropdown-item" th:if="${collaborators.isEmpty()}">
                  No collaborator available
                </span>
              <form th:method="POST"
                    th:each="collaborator : ${collaborators}"
                    th:action="@{/todo/{todoId}/collaborations/{collaboratorId}(todoId=${todo.id}, collaboratorId=${collaborator.id})}">
                <button
                  th:text="${collaborator.name}"
                  type="submit"
                  name="submit"
                  class="dropdown-item">
                </button>
              </form>
            </div>
          </div>
          <button class="btn btn-danger"
                  title="Delete"
                  type="button"
                  data-th-attr="data-href=${'/todo/delete/' + todo.id}"
                  data-bs-toggle="modal"
                  data-bs-target="#confirm-delete"
                  th:unless="${todo.isCollaboration}">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <p>
      <a class="btn btn-primary" title="Add todo" th:href="@{/todo/add}"><i class="fas fa-plus-circle"></i> Add todo</a>
    </p>
  </div>
</section>
</html>
