<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/headTag :: head"></head>
<body>
<div th:replace="fragments/navBar :: header">
</div>
<section class="section">
  <div class="container has-text-centered">
    <div>
      <h1 class="title" th:text="${message}"/>

      <table class="table" th:if="${todos}">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
          <td th:text="${todo.id}" scope="row"></td>
          <td th:text="${todo.title}"></td>
        </tr>
        </tbody>
      </table>

      <div sec:authorize="isAuthenticated()">
        <div class="box">
          Hello, <strong th:text="${#authentication.name}"></strong>!
        </div>
      </div>

      <div sec:authorize="hasRole('USER')">Text visible to user.</div>
      <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
      <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
      </div>
      <div sec:authorize="isAnonymous()">
        <div class="box">
          <a class="button login is-primary" th:href="@{/oauth2/authorization/cognito}">Log in with Amazon Cognito</a>
        </div>
      </div>
      <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout"/>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
