<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Todo Application</title>

  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>

  <link rel="icon" th:href="@{/favicon.svg}">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
  <div th:replace="fragments/header :: header"></div>

  <div layout:fragment="page-content"></div>

  <div th:replace="fragments/footer :: footer"></div>
</div>
</div>
</body>
</html>
