<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/headTag :: head"></head>
<body>
<div th:replace="/fragments/navBar :: header">
</div>
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title text-center">Add todo</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div th:if="${message}" th:text="${message}" th:class="${'alert alert-' + messageType}" role="alert"></div>
        <form th:action="@{/todo}" th:object="${todo}" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" class="form-control" id="description">
          </div>
          <div class="form-group">
            <label for="title">Priority</label>
            <select th:field="*{priority}"
                    class="form-control"
                    id="priority"
                    placeholder="Please select a priority.">
              <option th:each="priorityValue : ${T(dev.aws101.todo.Priority).values()}"
                      th:value="${priorityValue}" th:text="${priorityValue.displayValue}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="dueDate">Due date</label>
            <input type="date" th:field="*{dueDate}" class="form-control" id="dueDate">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

</body>
</html>
