<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: head"></head>
<body>
<div th:replace="fragments/navBar :: header"></div>
<section class="section">
  <div class="container has-text-centered">
    <div th:replace="fragments/toast :: toast"></div>
    <h1 class="title text-center">Update todo</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div th:replace="fragments/messages :: messages"></div>
        <form th:action="@{/todo/update/{id}(id=${todo.id})}" th:object="${todo}" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" class="form-control" id="description">
          </div>
          <div class="form-group">
            <label for="title">Priority</label>
            <div class="form-group">
              <label for="title">Priority</label>
              <select th:field="*{priority}"
                      class="form-control"
                      id="priority"
                      placeholder="Please select a priority.">
                <option th:each="priorityValue : ${T(dev.aws101.todo.Priority).values()}"
                        th:value="${priorityValue}"
                        th:text="${priorityValue.displayValue}"></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="dueDate">Due date</label>
            <input type="date" th:field="*{dueDate}" class="form-control" id="dueDate">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
