<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- noisy logs when testing and shutting down the container -->
  <logger name="io.awspring.cloud.messaging.listener" level="ERROR" />

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
