<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      th:with="activeMenuItem='register'">
<head>
  <title>Register</title>
</head>
<section class="section" layout:fragment="page-content">
  <div class="container has-text-centered">
    <h1 class="title text-center">Register</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div th:if="${message}" th:text="${message}" th:class="${'alert alert-' + messageType}" role="alert"></div>
        <form th:action="@{/register}" th:object="${registration}" method="post">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" required>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" required
                   aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">
              We'll never share your email with anyone else.
            </small>
          </div>
          <div class="form-group">
            <label for="invitationCode">Invitation code</label>
            <input
              th:field="*{invitationCode}"
              th:classappend="${#fields.hasErrors('invitationCode')}? 'is-invalid'"
              type="text"
              class="form-control"
              id="invitationCode"
              aria-describedby="invitationCodeHelp"
              required>
            <div th:if="${#fields.hasErrors('invitationCode')}"
                 th:text="${#strings.listJoin(#fields.errors('invitationCode'), ', ')}"
                 class="invalid-feedback">
            </div>
            <small id="invitationCodeHelp" class="form-text text-muted">
              Enter the invitation code you received to register.
            </small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
