<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="activeMenuItem" type="java.lang.String"*/-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
  <a class="navbar-brand" th:href="@{/}">Todo Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</html>
