<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="headline" type="java.lang.String"*/-->

<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Todo Application</title>

  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>

  <link rel="icon" th:href="@{/favicon.ico}">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <script th:src="@{/webjars/sockjs-client/sockjs.min.js}" sec:authorize="isAuthenticated()"></script>
  <script th:src="@{/webjars/stomp-websocket/stomp.min.js}" sec:authorize="isAuthenticated()"></script>
  <script th:src="@{/js/todo-updates.js}" sec:authorize="isAuthenticated()"></script>
</head>
<body>
<div>
  <div th:replace="fragments/header :: header"></div>

  <div th:replace="fragments/toast :: toast"></div>

  <div class="container has-text-centered">
    <h1 th:text="${headline}" class="title text-center"></h1>
    <div th:replace="fragments/messages :: messages"></div>
    <div layout:fragment="page-content"></div>
  </div>

  <div th:replace="fragments/modals :: confirmDeletionModal"></div>
  <div th:replace="fragments/footer :: footer"></div>

  <script sec:authorize="isAuthenticated()">
    connectToWebSocketEndpoint('[[${#authentication.principal.attributes.email}]]');
  </script>
</div>
</body>
</html>
